html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f2f3f7;
}
#evernote-container {
  height: 100%;
  box-sizing: border-box;
}
.app-container {
  height: 100%;
  box-sizing: border-box;
}
.quill {
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 300px);
  float: left;
}
.ql-container {
  box-sizing: border-box;
  height: calc(100% - 42px);
  overflow-y: scroll;
}
.ql-editor {
  cursor: text;
}
.MuiListItem-root.Mui-selected {
  background-color: #d4d8e8 !important;
}
.no-note-selected {
  font-size: 48px;
  position: absolute;
  top: 50px;
  left: calc(50% - 165px);
}

.wrapperDiv {
  display: grid;
  grid-template-columns: 1.5fr 5fr 0.5fr;
  grid-column-gap: 1px;
}

.cssSidebarDiv {
  overflow-y: auto;

  overflow-x: hidden;
  max-height: 100vh;
  padding-right: 20px;
  padding-top: 30px;
}

.cssSidebarDiv::-webkit-scrollbar {
  display: none;
}

.cssSidebarListe {
  list-style: none;
}

.versteckt {
  visibility: hidden;
}

.cssSidebarNotes {
  color: rgb(92, 92, 92);
  width: 13vw;
  font-size: 14px;
  margin-bottom: 6px;
  padding: 10px 10px 10px 15px;

  overflow-x: hidden;

  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;

  border: none;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}

.cssSidebarNotes:hover {
  color: rgba(43, 102, 179, 0.726);
}

.cssRechteSeite {
  justify-content: space-between;
  flex-direction: column;
  height: 89vh;
  display: flex;
  padding-top: 60px;
}

#speichernButtonID {
  justify-content: center;
  display: flex;
}

#editordiv {
  width: 60vw;
  height: 80vh;
  overflow-y: auto;
}
#editordiv::-webkit-scrollbar {
  display: none;
}

.cssButtonSpeichern {
  color: rgb(182, 182, 182);
  font-size: 16px;
  display: block;
  width: 95%;
  margin: 20px;

  outline: none;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border: none;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}

.cssButtonSpeichernEmptyNote {
  color: red !important;
}

.cssButtonSpeichern:hover {
  color: rgb(7, 106, 199);
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px rgba(38, 112, 146, 0.133),
    4px 4px 5px 0px rgba(46, 73, 109, 0.067);
}

#loginButton {
  color: rgb(182, 182, 182);
  font-size: 16px;
  display: block;
  width: 95%;
  margin: 20px;

  outline: none;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border: none;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}

#loginButton:hover {
  color: rgb(7, 106, 199);
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px rgba(38, 112, 146, 0.133),
    4px 4px 5px 0px rgba(46, 73, 109, 0.067);
}

.loginButtonVerstecken {
  display: none;
}

.editButton {
  float: right;
}
.deleteButton {
  float: right;
}

#nameInput {
  font-size: 16px;
  outline: none;
  border: solid;
  border-width: 0px 0px 2px 0px;
  border-color: rgba(201, 201, 201, 0.432);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 25px;

  background-color: transparent;
  color: rgb(160, 160, 160);
  text-align: center;
}

#inputDIV {
  display: flex;
  align-items: center;
  justify-content: center;
}
#nameInput::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgb(212, 212, 212);
}

.buttonVersteckt {
  visibility: hidden;
}

#trashFeld {
  height: 20vh;
  background-color: red;
}

[data-ordner="0"] {
  background-color: green;
}
[data-ordner="ZweiterOrdner"] {
  background-color: yellow;
}
[data-ordner="Testordner"] {
  background-color: rgb(212, 12, 136);
}

.newNoteButtonCSS {
  color: rgb(92, 92, 92);

  font-size: 22px;
  padding: 10px 10px 10px 15px;
  margin-top: 30px;
  height: 80vh;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;

  border: none;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}

.newNoteButtonCSS:hover {
  color: rgba(43, 102, 179, 0.726);
}
